{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{%block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

  <script src="https://cdn.tiny.cloud/1/lfag3pguwd3x9jx497qgff60gqnxdi6vq6ze2zomaewyh1sx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

</head>

<body>
  <nav >
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <a href="#" class="enlace">
        <img src="logo.png" alt="" class="logo">
      </a>
      <ul>
        <li><a href="{% url 'blog:post_list' %}">Inicio</a></li>
        <li><a>Yo</a></li>
        <li><a>Clases</a></li>
        <li><a>Contacto</a></li>
      </ul>
  </nav>
  <div id="agrupador">
    <div id="brand">
    </div>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    <div id="sidebar">
      <div id="imagen-perfil"></div>
      <h2 id="mi-nombre">Duane Abreu</h2>
      <p id="mi-descripcion">Soy bailarín profesional especializado en la Bachata Sensual y en la Salsa On1.</p>
      <p id="cantidad-posts">Se han escrito {% total_posts %} posts</p><br><br>
      <div id="ultimos-posts">
        <h3>Últimos posts</h3><br>
            {% show_latest_posts 3 %}<br><br>
      </div>
      <div id="mas-comentados">
        <h3>Posts más comentados</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
          {% for post in most_commented_posts %}
            <li>
              <a href="{{post.get_absolute_url}}">{{post.titulo}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <p id="rss">
        <a href="{% url "blog:post_feed" %}">Suscribete a mi RSS feed</a>
    </div>
  </div>
  <footer>
  </footer>
    
</body>
</html>